/v0.1/obj
/v1/Mp3ScraperGui/.vs
/v1/Mp3ScraperGui/bin/Debug
/v1/Mp3ScraperGui/obj/Debug
/obj
obj/Mp3Scraper.csproj.nuget.g.props
obj/Mp3Scraper.csproj.nuget.dgspec.json
obj/Mp3Scraper.csproj.nuget.g.props
obj/Mp3Scraper.csproj.nuget.dgspec.json
/v1/Mp3ScraperGui/obj
